<!DOCTYPE html>
<html>
<head>
  <title>WkmBcmsPublishing</title>
  <%= stylesheet_link_tag    "wkm_bcms_publishing/application", :media => "all" %>
  <%= javascript_include_tag "wkm_bcms_publishing/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
