<%%= f.cms_text_field :name %>
<%%= layouts_drop_down(f, "<%= class_name.tableize.singularize %>") %> (Arquivo de view do portlet)
<%%= namespaces_drop_down(f) %>
<% for attribute in attributes -%>
<%%= f.cms_text_field :<%= attribute.name %> %>
<% end -%>